# ----------------------
# Flask
# ----------------------
flask
requests
Flask-PyMongo
flask-admin
markdown
pygments
python-slugify
inflection

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
